{% extends 'base.html' %} 
{% block head %}
{% load static %} {% load bootstrap5 %}
<link rel="stylesheet" href="{% static 'users/css/user-form.css' %}" />
{% endblock head %}

{% block title %}Change Password {{user.username}}{% endblock title %}  
{% block body %}
{% block navbar %}{% endblock navbar %}
{%block searchbox %} {% endblock searchbox %}

<div class="container login-container">
    <div class="div-contain-login">
      <h1>Change passowrd</h1>
      <form method="POST">
        {% csrf_token %}
  
        <div class="login-div">
          <div class="inner-login-div">
            <div class="inner-login-div">{% bootstrap_form form %}</div>
          </div>
        </div>
        <button type="submit" class="btn btn-dark login-btn">Change password</button>
      </form>


    </div>
  </div>



{% endblock body %}
