body {
  background-color: #F5F5F5;

}

.shoe-container {
    margin-top: 50px;
}

.shoe-img {
  width: 355px;
  height: 355px;
  object-fit: cover;
 
}

.shoe-img:hover {
  -moz-box-shadow: 0 0 10px #ccc;
  -webkit-box-shadow: 0 0 10px #ccc;
  box-shadow: 0 0 5px #726969;
  transform: scale(1.02);
}

@media(max-width:1024px) {
  .shoe-img {
    width: 99%;
  }
}